[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
psycopg2-binary = "*"
pillow = "*"
psycopg2 = "*"
psycopg-binary = "*"
ipython = "*"
django-cors-headers = "*"
dj-rest-auth = "*"
django-allauth = "*"
djangorestframework-simplejwt = "*"
rest-framework-roles = "*"
install = "*"
pytest = "*"
pytest-django = "*"
pyyaml = "*"
uritemplate = "*"
drf-yasg = "*"
django-protector = "*"
gunicorn = "*"
dj-database-url = "*"
django-on-heroku = "*"
django = "==3.2.10"

[dev-packages]
black = "*"
isort = "*"
flake8 = "*"
flake8-pyproject = "*"
pre-commit = "*"
click = "==8.0.4"

[requires]
python_version = "3.9"
