[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
psycopg2-binary = "*"
pillow = "*"
psycopg2 = "*"
psycopg-binary = "*"
ipython = "*"
django-cors-headers = "*"
dj-rest-auth = "*"
django-allauth = "*"
djangorestframework-simplejwt = "*"
install = "*"
pytest-django = "*"

[dev-packages]
black = "*"
isort = "*"
flake8 = "*"
flake8-pyproject = "*"
pre-commit = "*"
click = "==8.0.4"
pytest = "*"

[requires]
python_version = "3.9"
